<div ng-app='app'>

	<nav ng-controller="NavCtrl">
		<section>
			<a href="#" ui-sref-active="active" ui-sref=""><span>Home</span></a>
			<a href="#" ui-sref-active="active" ui-sref=""><span>Login</span></a>
			<a href="#" ui-sref-active="active" ui-sref=""><span>Register</span></a>
			<a href="#" ui-sref-active="active" ui-sref=""><span>Create Assignment</span></a>
			<a href="#" ui-sref-active="active" ui-sref=""><span>Dashboard</span></a>
			<a href="#" ng-click="logout()" ui-sref-active="active" ui-sref=""><span>Logout</span></a>
		</section>
	</nav>
  <div ui-view>

  </div>

</div>

