<div ng-controller='RegisterCtrl'>
	<h1>Register</h1>

	<form novalidate name="loginForm" method="post">

		<input required type="text" name="inputIdentifier" placeholder="username" ng-model="credentials.name">

		<span class="alert"
		ng-show="error">
		Username cannot be left empty</span>



		<input required type="text" name="input" placeholder="email" ng-model="credentials.identifier">
		<span class="alert"
		ng-show="error">
		Email cannot be left empty</span>
		<span class="alert" ng-show="">Email must include the @ symbol</span>

		<input required type="text" name="inputPassword" placeholder="password" ng-model="credentials.password">
		<span class="alert" ng-show="error">Password cannot be left empty</span>

		<button ng-click="submit(credentials)" type="submit">Submit</button>
	</form>

	<a ui-sref="login">Already have an account? Login!</a>
</div>
